.titlebar {
    height: 30px;
    color: white;
    background: transparent;
    user-select: none;
    display: grid;
    grid-template-columns: auto max-content;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.titlebar > .controls {
    display: flex;
    margin-left: auto; /* 让控制按钮组靠右 */
}
.titlebar button {
    color: white;
    appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    z-index: 1001;
    background-color: transparent;
}
.titlebar button:hover {
    background: #5bbec3;
}
#titlebar-close:hover {
  background: #e74c3c; /* 关闭按钮悬停时用红色强调 */
}